/ {
	leds {
		ledblue: ledblue {
			gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
		};
		ledred: ledred {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &ledblue;
		led1 = &ledred;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};